# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

*.exe
*.out
temp.c
.gitignore
.vscode/c_cpp_properties.json
.gitignore
.vscode/tasks.json
.vscode/launch.json
temp.cpp
temp2.cpp
